@prefix: sk;

@color-default: #e0e0e0;
@color-primary: #1976d2;
@color-secondary: #dc004e;
@color-error: #f44336;

@color-border: rgba(0, 0, 0, 0.12);

@color-text: rgba(0, 0, 0, 0.87);

@size-text: 1rem;
@size-text-large: 0.9375rempx;
@size-small: 0.8125rem;

@lineHeight-text: 1.5;
@lineHeight-text-large: 1.235;


